<!DOCTYPE html>
<html>
<head>	
	<title>Name</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!--<script type="text/javascript" src="angular-trial.js"></script>-->
</head>
<body ng-app>
	<h1>Name</h1>
	<input id="first" type="text" placeholder="First name" ng-model="fname">
	<input id="last" type="text" placeholder="Last name" ng-model="lname">
	<h2>
		<span id="f1">{{fname}}</span> 
		<span id="l1">{{lname}}</span>
	</h2>
</body>
</html>